@using PierresVendorApp.Models;

@{
  ViewData["Title"] = "Business Details - @Model.Name";
}

<div class="wrapper text-center">
  <h2 class="pt-5 pb-2 mb-2 underline">Business Details</h2>
  <h3>ID#@Model.Id - @Model.Name</h3>
  <h3 class="">@Model.Description</h3>
  <div class="container text-center p-3">
    <a class="btn btn-lg btn-primary" href="/vendors/@Model.Id/orders/new">New Order</a>
    <div class="container text-center">
      @if (@Model.Orders.Count == 0)
      {
        <p class="text-center"><h4 class="pt-5">No Orders On Record For This Business</h4></p>
      }
      else
      {
        <h4 class="pt-4 pb-2">Order History</h4>
        <div class="container">
          <div class="row">
            <div class="col-sm-1">ID</div>
            <div class="col-sm-3">Title</div>
            <div class="col-sm-3">Date</div>
            <div class="col-sm-2">Price</div>
            <div class="col-sm-3">Description</div>
          </div>
          @foreach (Order order in @Model.Orders)
          {
          <div class="row">
            <div class="col-sm-1">@order.Id</div>
            <div class="col-sm-3">@order.Title</div>
            <div class="col-sm-3">@order.OrderPlacedDate</div>
            <div class="col-sm-2">$@order.Price</div>
            <div class="col-sm-3">@order.Description</div>
          </div>
          <a class="btn btn-block btn-primary" href="/vendors/@Model.Id/orders/@order.Id">View Order Details</a>
          <hr />
          }
        </div>
      }
    </div>
  </div>
</div>
